<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quần cho bé trai</title>
    <link rel="import" th:href="@{../../header.html}">
    <link rel="import" th:href="@{../../footer.html}">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/items.css}">
</head>
<body>
<div th:replace="header :: header"></div>

<h1>Bàn ghế học sinh</h1>
<div class="clothes-item">
    <div th:each="product : ${products}" class="clothes-items">
        <a th:href="@{/product/details/{id}(id=${product.id})}" style="text-decoration: none; color: inherit;">
            <img th:src="${product.image}" class="clothes-img" alt="Product Image" />
            <div class="sales-caption">
                <h5 th:text="${product.name}">Tên sản phẩm</h5>
                <div class="price-container">
                    <p th:text="'Giảm giá: ' + ${product.discount} + '%'" class="discount">Giảm giá</p>
                    <p th:text="${product.formattedUnitPrice}" class="original-price">Giá sản phẩm</p>
                    <span th:text="${product.formattedDiscountedPrice}" class="discounted-price">Giá sau khi giảm</span>
                </div>
            </div>
        </a>
    </div>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>
