<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Chỉnh Sửa Người Dùng</title>-->
<!--</head>-->
<!--<body>-->

<!--<h2>Chỉnh Sửa Người Dùng</h2>-->
<!--<form action="#" th:action="@{/admin/users/update}" th:object="${user}" method="post">-->
<!--    <input type="hidden" th:field="*{id}"/> &lt;!&ndash; Thêm ID để gửi trong request &ndash;&gt;-->

<!--    <div>-->
<!--        <label for="username">Tên Người Dùng:</label>-->
<!--        <input type="text" id="username" th:field="*{username}" readonly />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="email">Email:</label>-->
<!--        <input type="email" id="email" th:field="*{email}" readonly />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="fullName">Họ và Tên:</label>-->
<!--        <input type="text" id="fullName" th:field="*{fullName}" readonly />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="phone">Điện Thoại:</label>-->
<!--        <input type="text" id="phone" th:field="*{phone}" readonly />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="address">Địa Chỉ:</label>-->
<!--        <input type="text" id="address" th:field="*{address}" readonly />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="avatar">Avatar:</label>-->
<!--        <input type="text" id="avatar" th:field="*{avatar}" readonly />-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="role">Vai Trò:</label>-->
<!--        <input type="checkbox" id="role" th:field="*{role}" disabled />-->
<!--    </div>-->

<!--    <div>-->
<!--        <button type="button" onclick="history.back();">Quay lại</button>-->
<!--        <button type="submit">Lưu Thay Đổi</button> &lt;!&ndash; Nút lưu thay đổi nếu cần &ndash;&gt;-->
<!--    </div>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->
