<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="import" th:href="@{../header.html}">
    <link rel="import" th:href="@{../footer.html}">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div th:replace="header :: header"></div>
<div id="login">
    <div class="img-login">
        <img th:src="@{/image/ghe-sofa-dep-hien-dai-gia-re-vb-6066.jpg }">
    </div>
    <h2>Login</h2>
    <form method="post" action="/login">
        <div class="form">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="form">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>

        <!-- Hiển thị thông báo lỗi nếu có -->
        <div th:if="${error}" class="error-message">
            <p th:text="${error}" style="color: red;"></p>
        </div>

        <div class="button-submit">
            <button type="submit">Login</button>
            <a href="/register">Bạn chưa có tài khoản? Đăng ký ngay</a>
        </div>
    </form>
</div>
<div th:replace="footer :: footer"></div>
</body>
</html>
