.carousel-item img {
    vertical-align: middle;
    border-style: none;
    height: auto;
}

.best-sales,
.boy-clothes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin: 20px 0;
}

.product-details{
    text-align: center;
}

.product-details a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

