* {
    box-sizing: border-box;
}
#register {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-register {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.img-register img {
    width: 100%;
    height: 700px;
}

h2 {
    position: relative;
    z-index: 2;
    color: white;
    margin-bottom: 20px;
}

form {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
    height: auto;
}



.form {
    margin-bottom: 15px;
    width: 100%;
}


.form-control:focus {
    border-color: #4CAF50;
}

.button-submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-submit button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-submit button:hover {
    background-color: #45a049;
}

.link-register {
    margin-top: 10px;
    text-align: center;
}

.link-register a {
    text-decoration: none;
    color: #4CAF50;
    transition: color 0.3s;
}

.link-register a:hover {
    color: #388E3C;
}
