<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<footer>
<div id='footer'>
    <div className='contact'>
        <h3>Liên hệ</h3>
        <p>Địa chỉ : Ha Long</p>
        <p>Số điện thoại : 0964417590</p>
        <p>Email : Maixuansang1123@gmail.com</p>
    </div>
    <div className='about-us'>
        <h3>Hỗ trợ</h3>
        <ul>
            <li>Thông tin liên hệ</li>
            <li>Chính sách đặt hàng</li>
            <li>Chính sách vận chuyển</li>
            <li>Chính sách đổi trả trả</li>
            <li>Chính sách bảo mật</li>
            <li>Chính sách ưu đãi thành viên</li>
        </ul>
    </div>
    <div className='about-us'>
        <h3>Đăng ký nhận bảng tin</h3>
        <div class="form">
            <input type="text" placeholder="Nhập email"/>
            <button type="submit">Đăng ký</button>
        </div>
    </div>
</div>
</footer>
</body>
</html>