<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin giao hàng</title>
    <link rel="stylesheet" th:href="@{/css/userinfo.css}"/>
    <link rel="import" th:href="@{../../header.html}">
    <link rel="import" th:href="@{../../footer.html}">
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
<div th:replace="header :: header"></div>
<div class="shipping-info-container">
    <h1>Thông tin giao hàng</h1>

    <form th:action="@{/orders/shipping/checkout}" method="post">
        <label for="receiveName">Tên người nhận:</label>
        <input type="text" id="receiveName" name="receiveName" required/><br/>

        <label for="receiveAddress">Địa chỉ giao hàng:</label>
        <input type="text" id="receiveAddress" name="receiveAddress" required/><br/>

        <label for="receivePhone">Số điện thoại:</label>
        <input type="tel" id="receivePhone" name="receivePhone" required/><br/>

        <label for="node">Ghi chú:</label>
        <input type="text" id="node" name="node"/><br/>

        <button type="submit">Đặt hàng</button>
    </form>

</div>

<div th:replace="footer :: footer"></div>
</body>
</html>
