<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
</head>
<body>
<div id="dashboard">

    <div class="nav">
        <ul>
            <li><a href="/admin/category">Danh mục</a></li>
            <li><a href="/admin/products">Sản phẩm</a></li>
            <li><a href="/admin/users">Người dùng</a></li>
            <li><a href="/admin/orders">Đơn hàng</a></li>
            <li><a href="/admin/logout">Đăng xuất</a></li>
        </ul>
    </div>


    <!-- Phần nội dung động sẽ được tải vào đây -->
    <div class="content">
        <h2>Chào mừng đến với Dashboard</h2>
        <p>Chọn một mục ở bên trái để xem thông tin chi tiết.</p>
    </div>
</div>
<script th:src="@{/static/js/dashboard.js}"></script>
</body>
</html>
